clearfix()
  &:after
    content ''
    display table
    clear both

// 滚动条样式
scrollBar()
  &::-webkit-scrollbar-track-pice
    background #d3dce6
  &::-webkit-scrollbar
    width 6px
  &::-webkit-scrollbar-thumb
    background #99a9bf
    border-radius 20px
